[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
Sphinx = "*"
pyscaffold = "*"
pymysql = "*"
pytest = "*"
pytest-cov = "*"
pyblizzard = "*"

[packages]
psycopg2-binary = "*"
pandas = "*"
SQLAlchemy = "*"
pymssql = "*"
