[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
Sphinx = "*"
pytest = "*"
pytest-cov = "*"
pyblizzard = "*"
pyarrow = "*"
pylint = "*"
PyScaffold = "*"
PyMySQL = "*"
Cython = "==0.29.6"
pep8 = "*"
autopep8 = "*"

[packages]
psycopg2-binary = "==2.7.7"
pandas = "*"
SQLAlchemy = "*"
pymssql = "*"
pyarrow = "*"
tables = "*"
pybigquery = "*"
JayDeBeApi = "*"
PyMySQL = "*"

[requires]
python = "3.6.3"
